fastapi
uvicorn
python-multipart
pymupdf
sentence-transformers
scikit-learn
spacy
pydantic
python-dotenv
sentence-transformers

# source venv/bin/activate
# uvicorn app.main:app --reload

#streamlit run streamlit_app.py 